.container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 312px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.qr-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.qr-content img {
  border: 5px solid #000000;
  margin-bottom: 1rem;
}