<!-- <div class="content-camera">
  <div>
    <video #videoElement></video>
  </div>
  
  <img [src]="photoUrl" *ngIf="photoUrl" />

  <div *ngIf="photoUrl" class="float-right mt-3">
    <span class="btn btn-sm btn-danger mr-3">Cancel</span>
    <span (click)="capturePhoto()" class="btn btn-sm btn-primary">Capture</span>
  </div> -->

  <!-- Capture -->
  <!-- <button class="btn btn-sm btn-primary float-right mt-3" id="button-capture">{{ 'BRANCH.TAKE' | translate }}</button> -->

  <!-- Download -->
  <!-- <div id="download" class="float-right mt-3"> -->
    <!-- Download -->
    <!-- <span id="download" class="btn btn-sm btn-primary">{{ 'BRANCH.DOWNLOAD' | translate }}</span> -->
  <!-- </div> -->

  <!-- <canvas id="canv-asdf"></canvas> -->

  <!-- <button (click)="passDataToImg()">Capture Image</button>
  <img [src]="photoUrl" *ngIf="photoUrl">
  <button (click)="passDataToForm()">Pass Data to Form</button> -->
<!-- </div> -->


<!-- <div *ngIf="showWebcam">
  <webcam
    [height]="500"
    [width]="500"
    (imageCapture)="handleImageCapture($event)"
    [trigger]="$trigger">
  </webcam>
</div>

<div *ngIf="showCropper">
  <image-cropper
    [imageChangedEvent]="croppedImage"
    [cropperPosition]="cropperPosition"
    [cropperWidth]="cropperWidth"
    [cropperHeight]="cropperHeight"
    [aspectRatio]="1"
    [maintainAspectRatio]="true"
    [resizeToWidth]="500"
    [roundCropper]="false"
    [hideResizeSquares]="true"
    [canvasRotation]="0"
    format="png"
    (imageCropped)="handleImageCropped($event)"
    (cropperPositionChange)="cropperPosition = $event"
    (cropperWidthChange)="cropperWidth = $event"
    (cropperHeightChange)="cropperHeight = $event">
  </image-cropper>
</div> -->
