<div class="table-loading-container">
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
  <div class="table-loading-row">
    <div class="table-loading-cell"></div>
  </div>
</div>
